<div class="jumbotron">
  <div class="row">
    <div class="span3">
      <h1>Greenbox Inventory Management</h1>
    </div>

  <div class="span7">
    <h2>Getting Started</h2>
    <p>
      Greenbox Inventory Management is design to keep track of all items from ingredients,
      to prepared food, to ingredients, and more.
    </p>
    <p>
      To get the best use from the system, be sure to keep all inventory up to date.
    </p>
    <p><%= link_to 'Add A New Item', new_item_path, {:class=> "btn btn-primary btn-lg"} %></a>
  </div>

  </div>
</div>
